footer.footer {
    background: #3A3A3A;
    padding: 60px 0 60px 0;
    margin-top: 100px;
}

.footer-logo img {
    max-width: 100%;
}

.footer-logo-wrapper p {
    font-size: 18px;
    color: var(--white-color);
    padding-top: 20px;
    line-height: 154%;
}

.footer-quick-title h3 {
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white-color);
    margin-bottom: 0;
}

.footer-quick-title {
    padding-bottom: 30px;
}

.footer-wrapper {
    border-bottom: 1px solid var(--white-color);
    margin-bottom: 30px;
}

ul.footer-link-list li {
    padding-bottom: 20px;
}

ul.footer-link-list li a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

ul.footer-link-list li a:hover {
    color: var(--primary-color);
    transform: translateX(10px);
}

.footer-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--white-color);
    width: 90%;
}

.footer-bottom p span a {
    color: var(--primary-color);
}

.footer-social h3 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}

.footer-social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 17px;
    margin-bottom: 0;
}

.footer-social-media ul li {
    list-style: none;
}

.footer-social-media ul li a {
    transition: 0.4s;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    opacity: 1 !important;
    visibility: visible !important;
}

.footer-social-media ul li a img {
    width: 35px;
    height: 35px;
}

.footer-social-media ul li a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.search-item-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-quick-search {
    width: 640px;
}

.footer-quick-search .search-from {
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 7px;
}

.footer-quick-search .search-from input {
    width: 100%;
    border: none;
    background: none;
}

.footer-quick-search .search-from .search-btn {
    border: none;
    background: none;
    font-size: 21px;
    line-height: 21px;
}

@media (max-width: 1200px) {
    .footer-quick-title {
        padding-bottom: 16px;
    }

    .search-item-wrapp {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;
    }

    .footer-quick-search {
        width: 100%;
    }
}